body {
  font-family: sans-serif;
  margin: 40px;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  color: #0056b3;
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

section {
  width: calc(50% - 10px);
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-top: 0;
}

/* Estilo para simular el Markdown */
#tema1-docs h2,
#tema2-docs h2 {
  color: #007bff;
}

#tema1-docs p,
#tema2-docs p {
  line-height: 1.6;
}
